.container {
    display: flex;
}

.logo {
    display: flex;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 345px;
}

header {
    display: flex;
    justify-content: space-between;
}

li {
    color: aliceblue;
    justify-content: space-between;
}

body {
    margin: 2em auto;
    width: 60em;
}

img {
    height: 75%;
    width: 75%;
}

.nav a {
    display: flex;
    text-decoration: none;
    width: 3em;
    background-color: navajowhite;
}

.box {
    display: flex;
    max-width: 60em;
    max-height: 30em;
    border: solid mediumspringgreen;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
}

p {
    font-family: sans-serif;
    text-align: justify;
}

h2 {
    text-align: center;
}